body{
    background-color: #fff;
}
.home-h1{
    font-weight: bold;
    margin-top: 3%;
}

.this-and-that{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40%;
}

.circle1{
    border-radius: 100%;
    background-color: #6c63ff;
    padding: 20px;
    color: #fff;
}

.or{
    padding: 20px;
}

.circle2{
    border-radius: 100%;
    padding: 50px;
    background-color: #ff63ae;
    padding: 20px;
    color: #fff;
}

.circle1:hover, .circle2:hover{
    background-color: #1b1b1b;
    transition: all 2s ease-in;
    animation: wobble;
    animation-duration: 5s;
}

.challenge{
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.friends{
    width: 300px;
    height: 300px;
    animation: fadeIn;
    animation-duration: 5s;
}

.h-2{
    margin-top: 2%;
    font-weight: bold;
    text-transform: capitalize;
}

.accept{
    margin-top: 3%;
    padding: 20px 50px;
    color: #fff;
    background-color: #6c63ff;
    border: none;
    border-radius: 80px;
    width: 30%;
}

/* mobile */
@media(max-width:1200px){
    .home-h1{
        margin: 10% 0;
    }

    .this-and-that{
       padding: 0 70px;
    }
    
    .accept{
        width: 80%;
        margin-top: 5%;
    }
}