.result-container {
    background-image: url("../../assets/images/confetti.svg");
    background-color: #2C3333;
    opacity: 0.9;
    width: 30%;
    margin: auto;
    padding: 50px 20px;
    border-radius: 18px 24px 26px 26px;
    border: 5px solid #2C3333;
    color: #fff;
}

.result-container:hover {
    border: 5px dotted #f7eeee;
}

.result {
    width: 200px;
    height: 200px;
    margin-top: -8%;
}

.result-text {
    font-weight: 900;
    font-size: 40px;
}

.creator-reaction {
    margin-top: 20%;
    font-weight: 900;
    text-transform: capitalize;
}

.turn {
    margin-top: 3%;
    opacity: 0.7;
    font-weight: bold;
}

.create-challenge {
    padding: 20px 40px;
    background-color: #6c63ff;
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 40%;
    font-size: 20px;
    letter-spacing: 0.03rem;
}

/* mobile */
@media(max-width:1200px) {
    .result-container {
        width: 80%;
    }

    .result {
        width: 180px;
        height: 180px;
        margin-top: -8%;
    }

    .create-challenge {
        width: 80%;
        font-size: 18px;
    }
}