body{
    text-align: center;
    margin: 10px;
}

.create-quiz{
    font-weight: bold;
    margin-top: 2%;
}

.name{
    margin-top: 10%;
}

form{
    margin-top: 5%;
    /* display: none; */
}
.hide-form{
    display: none;
}

input{
    margin-top: 20px;
    padding: 20px 60px;
    border-radius: 20px;
    border: 2px solid #7f7c7c;
    width: 30%;
}
.continue{
    display: block;
    margin: 20px auto;
    border: none;
    padding: 10px 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    background-color:  #6c63ff;
    cursor: pointer;
    font-family: 'Alkatra', cursive;
}

.who-are-you{
    margin-top: 5%;
    font-weight: bold;
}

.gender{
    display: none;
}

.show-gender{
    display: block;
}

.gender-icon{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 2%;
    padding:  0 30%;
}

.gender-container{
    background-color: #497ff3;
    border-radius: 7px;
    padding: 5px;
    border: 2px solid #1b1b1b;
    cursor: pointer;
    margin: 20px;
}

.gender-img{
    width: 60%;
    height: 20%;
}
/* Mobile */
@media(max-width:1200px){
    .create-quiz {
        margin-top: 8%;
    }

    .name{
        margin-top: 30%;
    }
    
    input{
        width: 70%;
        padding: 20px 50px;
        border-radius: 7px;
    }

    .gender-container{
        width: 94%;
        margin: 30px 20px;
    }

    .gender-icon{
        padding: 0 15%;
    }

    .gender-img{
        width: 100%;
    }
}