.scoreboard-header {
    margin: 4% 0;
}

.friends-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: auto;
    padding: 0 10%;
    border: 3px solid #afabf6;
    /* font-size: 14px; */
}