.scoreboard-header {
    margin: 4% 0;
}

p {
    font-weight: bold;
    font-size: 24px;
}

.friends-container {
    /* display: flex; 
    align-items: center;
    justify-content: space-between; */
    width: 70%;
    margin: auto;
    padding: 0 10%;
    border: 3px solid #afabf6;
}