body {
  font-family: 'Alkatra',
 cursive;
  background-color: #f3f5fa;
  overflow-x: hidden;
}

body:hover {
  animation: pulse;
  animation-duration: 5s;
}

/* ::-webkit-scrollbar {
  background-color: #ff63ae;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c63ff;
  border-radius: 0 10px;
} */

a {
  text-decoration: none;
}

.fa-arrow-left {
  margin-right: 3%;
}

.person {
  position: absolute;
  margin-left: 2%;
  margin-top: 43px;
  color: #6c63ff;
}

.button {
  cursor: pointer;
  border: 2px solid #6c63ff;
  font-size: 12px;
  border-radius: 4px;
  margin: 50px 10px;
  padding: 5px 10px;
}

.button:hover {
  background-color: #1b1b1b;
  color: #fff;
  animation: jello;
  animation-duration: 4s;
  border: 1px solid #fff;
  transition: 2s all ease-in;
}

.fa-rotate-right {
  font-size: 20px;
  margin-top: 10px;
}

.fa-copy {
  font-size: 16px;
}

.fa-circle-exclamation {
  color: #ec3636;
}

/* .spinner-border {
  justify-content: center;
  align-items: center;
}

*/
.broken {
  margin-top: 2%;
}

.footer-name {
  margin-left: 5px;
}

.T {
  color: #6c63ff;
  font-weight: bold;
}

.E {
  color: #ec3636;
  font-weight: bold;
}

.D {
  color: #e7b40d;
  font-weight: bold;
}

.W {
  color: #ec3636;
  font-weight: bold;
}

.Y {
  color: #6c63ff;
  font-weight: bold;
}

.footer {
  margin-top: 1%;
}

.calendar {
  font-size: 16px;
}

/* mobile */
@media(max-width:1200px) {
  .person {
    margin-left: 5%;
  }

  .button {
    margin: 50px 2px;
  }

  .broken {
    margin-top: 10%;
  }
}